/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
}

@media(min-width:576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}